@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Lexend+Deca:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}

header {
    height: 40vh;
    border: 1px solid #ffffff33;
    background-image: linear-gradient(90deg, #7812a0 0%, #5d00a9 100%);
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_title {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.title_left,
.title_right  {
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    position: relative;
}

.header_search {
    position: relative;
    width: 100%;
    height: 65px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.header_search input {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: left;
    background: none;
    border: none;
    margin-left: 15px;
    opacity: 0.5;
}

input::placeholder {
    color: #fff;
}

input:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.header_search button {
    background: #FFFFFF;
    background: none;
    border: none;
    color: #fff;
    margin-left: 15px;
    font-size: 1.3rem;
    cursor: pointer;
}

.content_home {
    background-color: #dec9e9a9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.news {
    background-color: #fff;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
    margin-top: 50px;
    position: relative;
    padding: 20px;
}

.first_line {
    display: flex;
    justify-content: space-between;
}

.date {
    font-family: 'Lexend Deca', sans-serif;
    color: #a7a7a7;
    position: relative;
    font-weight: 400;
    font-size: 1rem;
}

i:hover {
    color: #7812a0;
}

.title_content {
    font-family: 'Lexend Deca', sans-serif;
    font-style: 400;
    font-weight: normal;
    font-size: 1.6rem;
    position: relative;
    color: #50036e;
    padding-top: 10px;
}

.text {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 30px;
    color: #a7a7a7;
    position: relative;
    padding-top: 10px;
}

#more1, #more2, #more3, #more4 {
    display: none;
}

#myBtn1, #myBtn2, #myBtn3, #myBtn4 {
    font-family: 'Inter', sans-serif;
    color: #7812a0;
    background: none;
    border: none;
}   

#myBtn1:hover, #myBtn2:hover, #myBtn3:hover, #myBtn4:hover {
    text-decoration: underline;
}

footer {
    color: #fff;
    background-image: linear-gradient(90deg, #7812a0 0%, #5d00a9 100%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:500px) {

    header {
        height: 30vh;
    }
    
    .title_left,
    .title_right  {
        font-size: 1.3rem;
    }

    .header_search {
        height: 45px;
    }

    .header_search input {
        font-size: 0.9rem;

    }
    
    .header_search button {
        font-size: 0.9rem;
    }

    .content_home {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .date,
    i {
        font-size: 0.9rem;
    }

    .title_content {
        font-size: 1.2rem;
    }
    
    .text {
        font-size: 0.8rem;
        line-height: 20px;
    }

    .footer {
        font-size: 0.8rem;
    }
}